/* layout information is defined */

body {
    background-image: url("assets/images/scifi_wallpaper.png");
    background-size:cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding:20px;
}

#actionArea{
    position: relative;

    border: 1px;
    border-color: aqua;
    border-style: solid;
    display: inline-block;
    height: 95vh;
    width: 95vw;
}

.scoreboard {
    position: absolute;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: 1px;
    border-color: aqua;
    border-style: solid;
  }
  
.left {
    top: 10;
    left: 10;
    background-color: grey; /* Adjust color as needed */
    border: 1px;
    border-color: aqua;
    border-style: solid;
  }

.right {
    top: 0;
    right: 0;
    background-color: grey; /* Adjust color as needed */
    border: 1px;
    border-color: aqua;
    border-style: solid;
}
 
/* Character CSS is defined */
#character1 {
    position: absolute;
    bottom: 50px;
    left: 100px;
    width: 50px;
    height: 50px;
    background-color: #000; /* Adjust color as needed */
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%);
}
  
#spaceship {
    position: absolute;
    bottom: 0px;
    left: 50%;
    width: 50px;
    height: 150px;
    background-color: #000; /* Adjust color as needed */
    transform: translate(-50%, -50%);
}
  
/* Actions are defined */
#notification {
    position: absolute;
    top: 50;
    left: 50;
    transform: translateX(-50%);
    font-size: 50px;
    color: red; /* Adjust color as needed */

}
  
#formulaForm {
    position: absolute;
    bottom: 600px;
    left: 50%;
    transform: translateX(-60%);
}
  
#formulaInput {
    position: absolute;
    padding: 5px;
    font-size: 16px;
    transform: translateX(-100%);
}
  
#answerForm {
    position: absolute;
    bottom: 550px;
    left: 50%;
    transform: translateX(-60%);
}
  
#answerInput {
    position: absolute;
    padding: 10px;
    font-size: 16px;
    transform: translateX(-100%);
}

button {
    position: absolute;
    padding: 5px 10px;
    font-size: 16px;
}

