/* layout information is defined */

body {
    background-image: url("assets/images/scifi_wallpaper.png");
    background-size:cover;
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    padding:20px;
}

#actionArea{
    position: relative;
    display: inline-block;
    height: 95vh;
    width: 95vw;
}

.scoreboard {
    position: absolute;
    padding: 10px;
    font-size: 18px;
    color: white;
    border: 1px;

    border-style: solid;
  }
  
.left {
    top: 10;
    left: 10;
    background-color: grey; /* Adjust color as needed */
  }

.right {
    top: 0;
    right: 0;
    background-color: grey; /* Adjust color as needed */
}
 
/* Character CSS is defined */
#character1 {
    position: absolute;
    border: 1px;
    bottom: 50px;
    left: 5%;
    width: 50px;
    height: 50px;
    background-image: url("assets/characters/Cyborg/Cyborg_run.png");
    transition: transform 0.3s ease-in-out;
    transform: translate(-50%, -50%);
}

#enemy1 {
    position: absolute;
    bottom: 0%;
    left: -20%;
    width: 500px;
    height: 500px;
    border: 1px;
    background-image: url("assets/characters/Dinosaur/WalkingDino1-1.png");
}

#spaceship {
    position: absolute;
    bottom: 20px;
    left: 95%;
    width: 150px;
    height: 100px;
    background-image: url("assets/characters/Nairan/Designs_Base/PNGs/Nairan-Battlecruiser-Base.png");
    transform: translate(-50%, -50%);
}
  
/* Actions are defined */

#reset{
    display:none;
    left: 47.5%;
    bottom:50%;
}

#notification {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 50px;
    color: red; /* Adjust color as needed */
    align-content: center;

}
  
#formulaForm {
    position: absolute;
    bottom: 800px;
    left: 35%;
    transform: translateX(-60%);
    
}

#submitFormula {
    width:500px;
    height: 100px;
    position:-100px;
    padding: 5px;
    font-size: 48px;

}
  
#formulaInput {
    position: absolute;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    transform: translateX(-100%);
    color:red;
    text-align: center;
}

  
#answerForm {
    position: absolute;
    bottom: 400px;
    left: 50%;
    transform: translateX(-80%);
}
 
#submit {
    bottom: 80px; 
    width: 500px;
    left: -235px;
    height: 50px;
}

#answerInput {
    position: absolute;
    padding: 10px;
    font-size: 36px;
    width:50px;
    bottom: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    transform: translateX(-35%);
    color:red;
    text-align: center;
}
#answerInput::placeholder{
    color: red;

}

button {
    position: absolute;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
    color:red
}


